html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 10vw auto;
  grid-template-columns: minmax(200px, 3fr) minmax(200px, 3fr);
}

header {
  grid-column: 1 / 3
}


/*dialogueBox part beggining*/

.dialogueBox {
  background-color: rgb(94, 113, 102);
  height: 100%;
  width: auto;
  grid-column: 2;
  grid-row: 2;
}

.rangeSelector {}

.textBox {}

.smallerContainer {}

/*dialogueBox part end*/

/*numberPad part beggining*/

.activeWindow {
  grid-column: 1;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 1fr;
  background-color: indigo;
  width: auto;
  height: auto;
}

.buttons {
  color: rgba(1, 189, 165, 0.61);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: auto;
  width: 100%;
  cursor: crosshair;
  background-color: yellow;
}

.buttonNumber, .buttonClear, .buttonEnter {
  width: 32.5%;
  height: 100%;
}

.display {
  width: 100%;
}


.buttonR1 {
  width: 100%;
  grid-column: 1 / 4;
  grid-row: 1;
}

.buttonR2 {
  position: relative;
  width: 100%;
  grid-column: 1 / 4;
  grid-row: 2;
}

.buttonR3 {
  position: relative;
  width: 100%;
  grid-column: 1 / 4;
  grid-row: 3;
}

.buttonR4 {
  position: relative;
  width: 100%;
  grid-column: 1 / 4;
  grid-row: 4;
}

/*numberPad part end*/
