body {
  background-color: silver;
  margin: 0px;
}

.mainContainer {
  margin: auto;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgba(88, 85, 11, 0.72);
}

/*dialogueBox part beggining*/
.dialogueBox {
  float: right;
  background-color: rgb(94, 113, 102);
  object-fit: cover;
  height: 100%;
  width: 50%;
  position: absolute;
  top: 0;
  left: 50%;
}

.rangeSelector {
  .position: absolute;
}

.textBox {}

.smallerContainer {}

/*dialogueBox part end*/
/*numberPad part beggining*/
.numberPad {
  float: left;
  background-color: indigo;
  width: 50%;
  height: 100%;
}

.buttonNumber {
  color: green;
  height: auto;
  width: 50px;
  cursor: crosshair;
  background-color: yellow;
  margin: 10px;
}

.display {
  position: relative;
  padding: 10px;
  width: 100%;
}

.numberGrid {
  display: grid;
  position: relative;
  width: auto;
  height: auto;
}

/*numberPad part end*/
